soap/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions targetNamespace="http://tempuri.org/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://tempuri.org/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xs:element name="PasswordMaskingRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="password" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PasswordMaskingResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="result" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="PasswordMaskingSoapIn">
    <wsdl:part name="parameters" element="tns:PasswordMaskingRequest"/>
  </wsdl:message>
  <wsdl:message name="PasswordMaskingSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordMaskingResponse"/>
  </wsdl:message>

  <wsdl:portType name="PasswordMaskingSoapPort">
    <wsdl:operation name="PasswordMasking">
      <wsdl:input message="tns:PasswordMaskingSoapIn"/>
      <wsdl:output message="tns:PasswordMaskingSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="PasswordMaskingServiceSoapBinding" type="tns:PasswordMaskingSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PasswordMasking">
      <soap:operation soapAction="PasswordMasking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="PasswordMaskingServiceSoap12Binding" type="tns:PasswordMaskingSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PasswordMasking">
      <soap12:operation soapAction="PasswordMasking" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PasswordMaskingService">
    <wsdl:port name="PasswordMaskingServiceSoapPort" binding="tns:PasswordMaskingServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    <wsdl:port name="PasswordMaskingServiceSoap12Port" binding="tns:PasswordMaskingServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>